<div class="container">
  <div class="row">
    <div class="col-sm">
     <img src="./assets/APLogo.png" alt="">
    </div>
    <div class="col-sm">
      One of three columns
    </div>
    <div class="col-sm">
        <img class="logo" src="./assets/facebook.png" alt="">
        <img class="logo" src="./assets/github.png" alt="">
        <img class="logo" src="./assets/instagram.png" alt="">
        <img class="logo" src="./assets/twitter.png" alt="">
        <img class="logoingreso" src="./assets/ingreso.jpg" alt="">
  </div>
</div>