<div class="container-fluid">
  <div class="row align-items-center">
    <div class="col">
      <img class="logoAp" src="./assets/APLogo.png" alt="" />
    </div>
    <div class="col"></div>
    <div class="col">
      <button type="button">
        <img class="logo" src="./assets/facebook.png" alt="Boton facebook" />
      </button>
      <button type="button">
        <img class="logo" src="./assets/github.png" alt="Boton github" />
      </button>
      <button type="button">
        <img class="logo" src="./assets/instagram.png" alt="Boton instagram" />
      </button>
      <button type="button">
        <img class="logo" src="./assets/twitter.png" alt="Boton twitter" />
      </button>
    </div>
    <div class="col">
      <button type="button">
        <img
          class="logoingreso"
          src="./assets/ingreso.png"
          alt="Boton ingreso"
        />
      </button>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <div id="back"></div>
  <div class="star-1 stars"></div>
   <div class="star-2 stars"></div>
    </div>
  </div>
</div>

  

