.container {
    background-color: rgb(123,123,123);
}
div {
    background: rgb(123,123,123);
}
img {
    width: 150px;
    height: 100px;
}
.logo {
    width: 50px;
    height: 50px;
}
.logoingreso {
    width: 80px;
    height: 50px;
}