<div class="container">
  <div class="row align-items-center">
    <div class="col">
      <img class="logoAp" src="./assets/APLogo.png" alt="" />
    </div>

    <div class="redes">
      <a
        href="https://www.facebook.com/profile.php?id=1407008102"
        target="_blank"
        rel="noopener noreferrer"
      >
        <button type="button">
          <img class="logo" src="./assets/facebook.png" alt="Boton facebook" />
        </button>
      </a>
      <button type="button">
        <img class="logo" src="./assets/github.png" alt="Boton github" />
      </button>
      <button type="button">
        <img class="logo" src="./assets/instagram.png" alt="Boton instagram" />
      </button>
      <button type="button">
        <img class="logo" src="./assets/twitter.png" alt="Boton twitter" />
      </button>
    </div>
    <div class="col">
      <button type="button">
        <img
          class="logoingreso"
          src="./assets/ingreso.png"
          alt="Boton ingreso"
        />
      </button>
    </div>
  </div>
  <div class="row align-items-center">
    <div class="col">
      <img id="banner" class="img-fluid" src="./assets/banner.png" alt="" />
    </div>
  </div>
</div>
