.logoAp {
  width: 150px;
  height: 100px;
  animation-name: fade2;
  animation-duration: 30s;
}
.logo {
  width: 50px;
  height: 50px;
  padding: 0px;
}
.logoingreso {
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 50px;
  border-radius: 50%;
  padding: 0px;
  margin: 5px;
 
}
button {
  border-radius: 95%;
  color: rgb(123, 123, 123);
  background: rgb(123, 123, 123);
  padding: 0;
  animation-name: fade2;
  animation-duration: 1s;
  
}
button:hover {
  animation-name: color-fondo;
  animation-duration: 500ms;
  animation-fill-mode: forwards;
  transform: scale(1.05);
 
}
@keyframes fade2 {
  0% {
    opacity: 0;
  }
}
@keyframes color-fondo {
  100% {
    background-color: #4791d0;
  }
}
#banner {
  width: 100%;
  height: 70%;
  margin-top: 0%;
  animation-name: fade;
  animation-duration: 1s;
  
}
@keyframes fade {
  0% {
    opacity: 0;
  }}
@media (max-width: 575px){

.container {
  flex-direction: column;
}
.redes {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes img {
  margin: 0.01em;
}


}



