<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <img
        id="FotoPerfil"
        class="img-fluid"
        src="./assets/20220405_162427.jpg"
        alt="Foto Perfil"
      />
    </div>
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
      <div>
        <h3 id="nombre-apellido">Adrian Rodriguez</h3>
        <h4 id="titulo1">Full Stack Dev</h4>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <div id="acerca-de">
        <h4>Acerca de mi:</h4>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Tempore totam
          rerum veritatis cumque iusto accusantium, adipisci dolorum alias
          quidem porro nam incidunt vitae praesentium quod, culpa quis ex,
          aspernatur omnis!
        </p>
      </div>
    </div>
  </div>
</div>
