<div class="container">
    <div class="row">
        <h1>Hard Skills</h1>
    <div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
  [animation]="true"
  [animationDuration]="700"
[imageSrc]="'../assets/html.png'"
[showImage]="true"
[imageHeight]="60"
[imageWidth]="60"

></circle-progress>
<circle-progress
  [percent]="35"
  [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
  [animation]="true"
  [animationDuration]="700"
  [imageSrc]="'../assets/CSS.png'"
[showImage]="true"
[imageHeight]="60"
[imageWidth]="60"
></circle-progress>
<circle-progress
  [percent]="85"
  [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
  [animation]="true"
  [animationDuration]="700"
  [imageSrc]="'../assets/js.png'"
[showImage]="true"
[imageHeight]="60"
[imageWidth]="60"
></circle-progress>
    </div>
    </div>
    <div class="row">
    <div class="col">
    <circle-progress
  [percent]="85"
  [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
  [animation]="true"
  [animationDuration]="700"
  [imageSrc]="'../assets/angular.png'"
[showImage]="true"
[imageHeight]="60"
[imageWidth]="60"
></circle-progress>
<circle-progress
  [percent]="35"
  [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
  [animation]="true"
  [animationDuration]="700"
  [imageSrc]="'../assets/Visual.png'"
[showImage]="true"
[imageHeight]="60"
[imageWidth]="70"
></circle-progress>
<circle-progress
  [percent]="85"
  [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
  [animation]="true"
  [animationDuration]="700"
  [imageSrc]="'../assets/excel.png'"
[showImage]="true"
[imageHeight]="60"
[imageWidth]="60"
></circle-progress>
    </div>
    </div>
    <div class="row">
        <div class="col">
            <h1>Soft Skills</h1>
        <circle-progress
      [percent]="85"
      [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
      [animation]="true"
      [animationDuration]="700"
      [imageSrc]="'../assets/html.png'"
[showImage]="true"
[imageHeight]="60"
[imageWidth]="60"
    ></circle-progress>
    <circle-progress
      [percent]="35"
      [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
    <circle-progress
      [percent]="85"
      [radius]="60"
  [outerStrokeWidth]="10"
  [innerStrokeWidth]="5"
  [outerStrokeColor]="'#155293'"
  [innerStrokeColor]="'#22A5EB'"
      [animation]="true"
      [animationDuration]="700"
    ></circle-progress>
        </div>
        </div>
    
</div>

















