<div class="container">
  <div class="row">
    <h1>Hard Skills</h1>
    <div class="text-center col">
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/html.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
      <circle-progress
        [percent]="35"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/CSS.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/js.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
    </div>
  </div>
  <div class="row">
    <div class="text-center col">
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/angular.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
      <circle-progress
        [percent]="35"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/Visual.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="70"
      ></circle-progress>
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/excel.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
    </div>
  </div>
  <div class="row">
    <h1>Soft Skills</h1>
    <div class="text-center col">
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/pinguino.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
      <circle-progress
        [percent]="35"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/gimp.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/Inkcape.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
    </div>
  </div>
  <div class="row">
    <div class="text-center col">
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/eng.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
      <circle-progress
        [percent]="35"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/TrabajoEquipo.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="70"
      ></circle-progress>
      <circle-progress
        [percent]="85"
        [radius]="60"
        [outerStrokeWidth]="10"
        [innerStrokeWidth]="5"
        [outerStrokeColor]="'#155293'"
        [innerStrokeColor]="'#22A5EB'"
        [animation]="true"
        [animationDuration]="700"
        [imageSrc]="'../assets/Creativo.png'"
        [showImage]="true"
        [imageHeight]="60"
        [imageWidth]="60"
      ></circle-progress>
    </div>
  </div>
</div>
