div {
    width: 10em;
    height: 10em;
    background: red;
    border-radius: 90%;
    margin: 50px auto;
    position: relative;
    }
    #rect {
        animation-name: rainbow;
        animation-duration: 4s;
    }

    @keyframes rainbow {
        0% {
            background-color: blue;
            top: 0px;
            left: 0px;
        }
        50% {
            background-color: green;
            top: 50px;
            left: 25px;
        }
        100% {
            background-color: yellow;
            top: 0px;
            left: -25px;
        }
    }