#FotoPerfil {
    border-radius: 50%;
    margin-top: -40%;
    opacity: 99%;
    box-shadow: 10px 10px 50px #22A5EB;
    
    }
#nombre-apellido #titulo1 #acerca-de {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    font-weight: bold;
    margin-top: 30%;
    }

div {
    text-align: center;
    
}    
